<!-- Footer -->
<footer class="page-footer font-small elegant-color-dark flex-fill flex-grow-1">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Social Media</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/unbk3de" target="_blank">
              <mdb-icon fab icon="twitter" class="fa-fw"></mdb-icon> @unbk3de
            </a>
          </li>
          <li>
            <a href="https://www.reddit.com/u/unbekannt3" target="_blank">
              <mdb-icon fab icon="reddit-alien" class="fa-fw"></mdb-icon> /u/unbekannt3
            </a>
          </li>
          <li>
            <a href="ts3server://ts.unbekannt3.eu?port=9987">
              <mdb-icon fab icon="teamspeak" class="fa-fw"></mdb-icon> unbekannt3™
            </a>
          </li>
          <li>
            <mdb-icon fab icon="discord" class="fa-fw"></mdb-icon> unbekannt3#2944
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Coding</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://gitlab.com/unbekannt3" target="_blank">
              <mdb-icon fab icon="gitlab" class="fa-fw"></mdb-icon> GitLab
            </a>
          </li>
          <li>
            <a href="https://git.unbk.me/unbekannt3" target="_blank">
              <mdb-icon fab icon="gitlab" class="fa-fw"></mdb-icon> git.unbk.me
            </a>
          </li>
          <li>
            <a href="https://github.com/unbekannt3DE" target="_blank">
              <mdb-icon fab icon="github" class="fa-fw"></mdb-icon> GitHub
            </a>
          </li>
          <li>
            <a href="https://stackoverflow.com/users/9046498/unbekannt3?tab=profile" target="_blank">
              <mdb-icon fab icon="stack-overflow" class="fa-fw"></mdb-icon> StackOverflow
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Made with</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://angular.io" target="_blank">
              <mdb-icon fab icon="angular" class="fa-fw"></mdb-icon> Angular
            </a>
          </li>
          <li>
            <a href="https://code.visualstudio.com" target="_blank">
              <mdb-icon fas icon="file-code" class="fa-fw"></mdb-icon> VS Code
            </a>
          </li>
          <li>
            <a href="https://mdbootstrap.com/docs/angular" target="_blank">
              <mdb-icon fab icon="css3" class="fa-fw"></mdb-icon> MDBootstrap
            </a>
          </li>
          <li>
            <a href="https://git.unbk.me/unbekannt3/Homepage" target="_blank">
              <mdb-icon fab icon="git" class="fa-fw"></mdb-icon> Git
            </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">&copy; 2013 - 2020 unbekannt3.eu - Made with ❤️️ and best open source
    software
    - <a [routerLink]="['gov/privacy']">Privacy Policy (DE)</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
