<!-- Navbar -->
<mdb-navbar SideClass="navbar fixed-top navbar navbar-expand-lg navbar-dark elegant-color scrolling-navbar"
  [containerInside]="true">
  <!-- Logo & Titel -->
  <mdb-navbar-brand>
    <a class="logo navbar-brand" [routerLink]="['home']">
      unbekannt3.eu
    </a>
  </mdb-navbar-brand>
  <!-- ./Logo & Titel -->
  <!-- Links -->
  <links>
    <!-- Items Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['me']">Me</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['projects']">School and other Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://git.unbk.me" target="_blank">GitLab</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://tutorials.unbekannt3.eu" target="_blank">Tutorials</a>
      </li>
    </ul>
    <!-- ./Items Links -->
    <!-- Items Rechts -->
    <ul class="navbar-nav ml-auto">
    </ul>
    <!-- ./Items Rechts -->
  </links>
  <!-- ./Links -->
</mdb-navbar>
<!-- ./Navbar -->
