<section>

  <div *ngIf="gsc == 1">
    <div #alert class="alert alert-danger fade show" role="alert">
      <strong>You're not logged in. Please Login or create a new account over the buttons below</strong>
    </div>
  </div>

  <div *ngIf="gsc == 2">
    <div #alert class="alert alert-success fade show" role="alert">
      <strong>Successfully signed out - sys :)</strong>
    </div>
  </div>

  <h2 class="text-center h1 py-5">
    <strong>My GitLab Instance @ git.unbk.me</strong>
  </h2>

  <div class="col-12 text-center">
    <a mdbBtn type="button" color="success" class="waves-light" mdbWavesEffect
      href="https://git.unbk.me/users/sign_in#login-pane">Login</a>
    <a mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect
      href="https://git.unbk.me/users/sign_in#register-pane">Register</a>
    <a mdbBtn type="button" color="danger" class="waves-light" mdbWavesEffect
      href="https://git.unbk.me/users/unbekannt3/projects">View
      my public projects</a>
  </div>

  <br />

  <hr class="clearfix w-100">

  <!--Section heading-->
  <h2 class="text-center h1 py-5">
    <strong>GIT - HowTo auf Deutsch</strong>
  </h2>

  <div class="dark-font bc-icons">
    <mdb-breadcrumb customClass="black-text grey lighten-3">
      <mdb-breadcrumb-item [ngx-scroll-to]="'clone'" [ngx-scroll-to-offset]="'-60'">
        <a>Clone</a>
      </mdb-breadcrumb-item>
      <mdb-breadcrumb-item [ngx-scroll-to]="'pull'" [ngx-scroll-to-offset]="'-60'">
        <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon>
        <a>Pull</a>
      </mdb-breadcrumb-item>
      <mdb-breadcrumb-item [ngx-scroll-to]="'commit'" [ngx-scroll-to-offset]="'-60'">
        <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon>
        <a>Commit</a>
      </mdb-breadcrumb-item>
      <mdb-breadcrumb-item [ngx-scroll-to]="'push'" [ngx-scroll-to-offset]="'-60'">
        <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon>
        <a>Push</a>
      </mdb-breadcrumb-item>
      <mdb-breadcrumb-item [ngx-scroll-to]="'branch'" [ngx-scroll-to-offset]="'-60'">
        <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon>
        <a>Branch</a>
      </mdb-breadcrumb-item>
      <mdb-breadcrumb-item [ngx-scroll-to]="'merge'" [ngx-scroll-to-offset]="'-60'">
        <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon>
        <a>Merge</a>
      </mdb-breadcrumb-item>
      <mdb-breadcrumb-item [ngx-scroll-to]="'mergeconflicts'" [ngx-scroll-to-offset]="'-60'">
        <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon>
        <a>Mergekonflikte</a>
      </mdb-breadcrumb-item>
    </mdb-breadcrumb>
  </div>

  <div class="d-flex flex-row mt-2">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="clone" role="tabpanel">
        <h1>Repository Clonen (Spiegeln/Downloaden)</h1>

        <p>Um ein Git Repo von einem Server herunterzuladen (clonen) benötigt man nur die URL vom Repo
          (<code>https://...</code>
          für HTTP Verbindungen oder <code>git@...</code> für Verbindungen über SSH). Im Git Terminal dazu einfach
          <code>git clone [Repo-URL]</code> eingeben und das Repo wird in einem Unterordner des aktuellen Ordners der
          Konsole geclont. Beispielhaft nehmen wir mein Homepage Repo, welches die Adresse
          <code>https://git.unbk.me/unbekannt3/Homepage.git</code> hat und clonen dieses mit dem Befehl
          <code>git clone https://git.unbk.me/unbekannt3/Homepage.git</code> in den Ordner Homepage</p>
        <p>Falls der lokale Ordner, in den das Repo hinein geklont werden soll, ein anderen Name als der auf dem Git
          Server verwenden soll, kann mittels <code>git clone [Repo-URL] [Name]</code> ein eigener Ordnername festgelegt
          werden. Beispiel wie oben: <code>git clone https://git.unbk.me/unbekannt3/Homepage.git MeineSeite</code>.
          Damit wird mein Homepage Repo nun in den Ordner "MeineSeite" geklont.</p>

      </div>
      <hr>
      <div class="tab-pane fade show active" id="pull" role="tabpanel">
        <h1>Pull - Aktualisierungen von Server herunterladen</h1>

        <p>Mit einem <code>git pull</code> können auf dem Git-Server vorhandene Änderungen im Repo lokal
          übernommen werden. Dies ist nötig, wenn man Änderungen im lokalen Repo vorgenommen hat und diese auf den
          Server hochladen möchte, aber lokal nicht mehr auf dem neusten Stand vom Server ist (z.B. durch Fremde
          Veränderungen).</p>

        <p>Ist ein <code>git pull</code> durch lokale Änderungen nicht möglich müssen diese entweder commitet werden
          oder durch ein <code>git stash</code> verworfen werden.</p>

      </div>
      <hr>
      <div class="tab-pane fade show active" id="commit" role="tabpanel">
        <h1>Commit</h1>

        <p>Mit einem <code>git commit -m "Nachricht"</code> können Änderungen im Repo "gespeichert" werden.
          Dazu müssen vorher alle gewünschten Änderungen zur Stage hinzugefügt werden. Dies passiert mit einem <code>git
              add [Dateiname]</code> oder einem <code>git add .</code> um alle Änderungen zur Stage hinzuzufügen.</p>

        <p>Commits müssen mit einer Nachricht versehen werden - am besten mit einer passenden Beschreibung des Inhalts
          - um später z.B. bei Fehlern schneller den fehlerhaften Commit zu finden.</p>

      </div>
      <hr>
      <div class="tab-pane fade show active" id="push" role="tabpanel">
        <h1>Push - Auf Server hochladen</h1>

        <p><code>git push</code> wird dazu verwendet um lokal commitete Änderungen auf einen Git Server zu übertragen.
          Standardmä&szlig;ig wird dazu der aktuelle lokale Branch auch auf dem Server gewählt (falls vorhanden). Falls
          die automatische
          Auswahl nicht klappen sollte - oder auf dem Server in einen anderen Branch hochgeladen werden soll als Lokal
          gearbeitet wurde - kann mit
          einem <code>git push -u [Server (meistens als "origin" eingetragen)] [Branch auf Server]</code> der entfernte
          Branch gewählt werden, auf welchen die lokalen, noch nicht gepushten, commits hochgeladen werden.</p>
      </div>
      <hr>
      <div class="tab-pane fade show active" id="branch" role="tabpanel">
        <h1>Branching</h1>

        <p>Ein Branch - dt. Zweig - ist ein Zweig im Repo (meistens vom <code>master</code>-Branch). In diesem Zweig
          kann in einem Repo quasi völlig voneinander getrennt gearbeitet werden, ohne das man beim pushen von Commits
          Probleme durch andere Commits auf dem Server bekommt.</p>

        <p>Wir nehmen an du bist momentan im Branch <code>master</code> und möchtest jetzt in den Branch
          <code>jframetest</code>
          wechseln. Dazu gibst du in das Git CLI <code>git checkout jframetest</code> ein. Dir sollte jetzt in Klammern
          hinter dem aktuellen Git Ordner der neue Branch angezeigt werden.</p>

        <p>Um einen Branch zu erstellen benötigt man den Befehl <code>git branch [Name des neuen Branches]</code>.
          Möchte man den Branch wechseln kann man dies mit <code>git checkout [Branch]</code> tun. Dadurch, dass man
          sehr wahrscheinlich einen neu erstellten Branch auch direkt benutzen will, kann man den Branch auch über den
          checkout Befehl anlegen, welcher dann einen direkten wechsel im Anschluss bewirk: <code>git checkout -b
              [Name des neuen Branch]</code></p>

        <p>Möchtest du einen Branch löschen kannst du dies einfach mit <code>git branch -d [Name]</code> erledigen. Am
          Beispiel jframetest wäre das dann <code>git branch -d jframetest</code>.</p>
      </div>
      <hr>
      <div class="tab-pane fade show active" id="merge" role="tabpanel">
        <h1>Zusammenführen (merging) von Branchen</h1>

        <p>Um Code von einem Branch in einen anderen zu bekommen ist ein "merge" nötig. Diesen kannst du entweder mit
          der WebGUI von GitHub (Pull request)/GitLab (Merge request) machen oder auch über das Git CLI.</p>

        <p><b>Merging in dem Git CLI:</b> Wir nehmen an du hast einen Branch <code>jframetest</code>, arbeitest gerade
          in diesem und möchtest den commiteten Code nun in den <code>master</code>-Branch kopieren. Dazu wechselst du
          zuerst in den Zielbranch mit dem <code>git checkout master</code> Befehl. Jetzt kannst du einfach mit <code>git
              merge jframetest</code> den kompletten Inhalt aus <code>jframtest</code> in <code>master</code> kopieren.
        </p>

      </div>
      <hr>
      <div class="tab-pane fade show active" id="mergeconflicts" role="tabpanel">
        <h1>Mergekonflikte beheben</h1>

        <p>Sollte bei einem mergeversuch ein "Mergekonflikt" auftreten, kann Git bei mindestens einer Datei die
          Änderungen nicht automatisch Zusammenfügen. Dies passiert dann, wenn in beiden Branches an der Datei
          gearbeitet wurde und somit mindenstens 2 verschiedene Versionen dieser Datei existieren. Git wei&szlig; dann
          nicht mehr, welche Änderungen wie in diese Datei(en) kopiert werden soll und bricht den Merge mit einer
          Fehlermeldung ab. Die Fehlerhaften Dateien müssen dann manuell editiert werden.</p>

      </div>
    </div>
  </div>
  <br />

</section>