<section>
  <!--Section heading-->
  <h2 class="text-center h1 py-5">
    <strong>Bootstrap Basics auf Deutsch (für 4.4.x)</strong>
  </h2>

  <div class="dark-font bc-icons">
    <mdb-breadcrumb customClass="black-text grey lighten-3">
      <mdb-breadcrumb-item [ngx-scroll-to]="'container'" [ngx-scroll-to-offset]="'-60'">
        <a>Container</a>
      </mdb-breadcrumb-item>
      <mdb-breadcrumb-item [ngx-scroll-to]="'grid'" [ngx-scroll-to-offset]="'-60'">
        <!-- <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon> -->
        <a>Grid System</a>
      </mdb-breadcrumb-item>
      <mdb-breadcrumb-item [ngx-scroll-to]="'sizes'" [ngx-scroll-to-offset]="'-60'">
        <!-- <mdb-icon fas icon="angle-right" class="mr-1"></mdb-icon> -->
        <a>Größen</a>
      </mdb-breadcrumb-item>

    </mdb-breadcrumb>
  </div>

  <div class="d-flex flex-row mt-2">
    <div class="tab-content">
      <div class="tab-pane fade show active" id="container" role="tabpanel">
        <h1>Container</h1>

        <p>Jeder Inhalt einer Bootstrap Seite sollte in einem Container verschachtelt sein, bzw. die ganze Seite sollte
          mindestens einen Container enthalten. Z.B. ist der gerade für dich sichtbare Inhalt dieser Seite auch in einem
          Container.</p>
        <p>Container sind die Grundlage des Bootstrap Grid Systems, was später für die Anordnung und Größenänderung von
          z.B. <code>div</code>'s oder <code>span</code>'s benutzt wird.</p>
        <p>Um Elemente wie oben genannt in einen Container zu schließen, kannst du am Beispiel Angular, einfach dein
          router-outlet in einen Container packen, um jeden Inhalt deiner Seite dann innerhalb eines Containers zu
          haben:<br />
          <code>
              &lt;div class=&quot;container&quot;&gt;<br />
              &lt;router-outlet&gt;&lt;/router-outlet&gt;<br />
              &lt;/div&gt;
          </code><br />
          Den Container gibt es natürlich auch in allen Standard Bootstrap Breiten (sm, md, lg, xl und fluid), wobei
          keine angegeben werden muss und dieser dann mit den Grenzen des <code>container-sm</code> gleichgesetzt wird.
        </p>
        <p>Für eine genaue Größenauflistung mit weiteren Details verlinke ich hier auf die <a
            href="https://getbootstrap.com/docs/4.4/layout/overview/" target="_blank">Offizielle Bootstrap
            Dokumentation</a>. </p>
      </div>
      <hr>
      <div class="tab-pane fade show active" id="grid" role="tabpanel">
        <h1>Grid System</h1>

        <p>Das Bootstrap Grid System ist ein ziemlich Mächtiges Layoutsystem um deine Seite an alle Geräteformate
          schnell und leicht anzupassen.<br />
          Grundsätzlich gehören bei Bootstrap die 12 Breiteneinheiten dazu, welche man sehr Häufig verwendet.</p>

        <p>Möchtest du z.B. am PC mit einem großen Monitor 2 Elemente nebeneinander Anzeigen, funktioniert das dort gut.
          An einem Handy wiederrum nicht, da die Displays dort viel zu klein sind.<br />
          Mit Bootstrap kann man diese Elemente ganz einfach am PC nebeneinander und am Handy untereinander Anzeigen
          lassen:
        </p>

        <p>Dazu verwendet man einfach zwei <code>div</code>'s mit entsprechenden Bootstrap Klassen und schon
          funktioniert es wie gewünscht:<br />
        </p>

        <ngx-gist [gistId]="'unbekannt3DE/8efa31318d63b529d50693792f499664'" [file]="'gridsystem.html'">
        </ngx-gist>


        <p>Im Codebeispiel habe ich zuerst eine <code>row</code> erstellt, damit Bootstrap weiß, dass die folgenden
          Elemente in eine Zeile bzw. einen Block gehören.<br />
          Danach habe ich einen <code>div</code> mit den Klassen <code>col-12</code> und <code>col-md-6</code>
          erstellt. Diese bewirken, dass auf einem sehr kleinem Gerät der div die vollen 12 Einheiten
          bekommt und somit kein Platz mehr für den zweiten div in der gleichen Zeile ist. Auf einem größeren Gerät
          bekommt der div hingegen
          nur 6 Einheiten zugewiesen, wehalb der zweite div auch noch in die gleiche Zeile passt.
        </p>

      </div>
      <hr>

      <div class="d-flex flex-row mt-2">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="sizes" role="tabpanel">
            <h1>Größenangaben</h1>

            <p>Wie oben im Grid System erleutert besteht das Bootstrap Grid System aus insgesamt 12 Breiteneinheiten.
              Diese kannst du an verschiedene Elemente verteilen um so z.B. ein Mehrspaltiges Seitenlayout zu erstellen.
            </p>

          </div>
        </div>
      </div>
      <hr>

      <div class="d-flex flex-row mt-2">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="row" role="tabpanel">
            <h1>Zeilen (rows)</h1>

            <p>In Bootstrap kannst du mit der Klasse <code>row</code> eine Zeile
              definieren. Möchtest du z.B. zwei Elemente nebeneinander mit wenig Abstand darstellen musst du dieses mit
              einer row erledigen, da Bootstrap ansonsten zwischen 2 Elementen (div's) mehr Platz anzeigt: <br />
            </p>
            <pre class="code">
              <code>&lt;div class=&quot;row&quot;&gt;</code>
              <code>   &lt;div class=&quot;col-md-6&quot;&gt;</code>
              <code>      &lt;p&gt;Das ist mein Textblock 1&lt;/p&gt;</code>
              <code>   &lt;/div&gt;</code>

              <code>   &lt;div class=&quot;col-md-6&quot;&gt;</code>
              <code>      &lt;p&gt;Das ist mein Textblock 2&lt;/p&gt;</code>
              <code>   &lt;/div&gt;</code>
              <code>&lt;/div&gt;</code>
            </pre>
          </div>
        </div>
      </div>
      <hr>

    </div>
  </div>
  <br />

</section>
