<!-- Section heading -->
<h2 class="text-center h1 py-5">
  <strong>Welcome to my Homepage!</strong>
</h2>

<!-- Section description -->
<h3 class="grey-text pb-1 text-center">Socialise with me:</h3>
<p class="grey-text text-center">
  Psst: beloved adblockers sometimes blocks social buttons below
</p>

<!-- Social Media -->
<span class="d-table-row d-flex justify-content-center">
  <div class="contact-btns">
    <a class="sbtn twitter" href="https://twitter.com/unbk3de" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="sbtn gitlab" href="https://gitlab.com/unbekannt3" target="_blank"><i class="fab fa-gitlab"></i></a>
    <a class="sbtn github" href="https://github.com/unbekannt3DE" target="_blank"><i class="fab fa-github"></i></a>
    <a class="sbtn twitch" href="https://twitch.tv/unbekannt3DE" target="_blank"><i class="fab fa-twitch"></i></a>
    <a class="sbtn steam" href="https://steamcommunity.com/id/unbekannt3DE/" target="_blank"><i
        class="fab fa-steam"></i></a>
    <a class="sbtn discord" (click)="discordModal.show()"><i class="fab fa-discord"></i></a>
    <a class="sbtn skype" href="skype:henk.pohl?chat"><i class="fab fa-skype"></i></a>
    <a class="sbtn email" (click)="emailModal.show()"><i class="fas fa-envelope"></i></a>
  </div>
</span>

<!-- Discord Modal -->
<div mdbModal #discordModal="mdbModal" class="modal fade dark" tabindex="-1" role="dialog"
  aria-labelledby="discordProfileModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="discordModal.hide()">
          <span aria-hidden="true" style="color: white;"><i class="fas fa-times"></i></span>
        </button>
        <h4 class="text-center">Add me on Discord</h4>
        <p></p>
        <div class="col-12">
          <div class="card card-inverse">
            <div class="card-block" style="background: #2c2f33; color: #fff;">
              <div class="d-flex flex-row">
                <div class="p-2 align-items-stretch">
                  <img class="btn-md img-fluid" src="assets/img/Skin_Head.png" alt="" width="64px"
                    style="border-radius:50%;" />
                </div>
                <div class="p-2 flex-grow-1">
                  <h3 class="card-title">unbekannt3</h3>
                  <p class="card-text" style="line-height: 0px; opacity: .6;">
                    #2944
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</div>

<!-- EMail Modal -->
<div mdbModal #emailModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="emailModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close pull-right" aria-label="Close" (click)="emailModal.hide()">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
        <h4 class="text-center">Write me an mail</h4>
        <p></p>
        <p>General purposes: <a href="mailto:dev@unbekannt3.eu">dev@unbekannt3.eu </a><br />
          Privacy concerns: <a href="mailto:privacy-concerns@unbekannt3.eu">privacy-concerns@unbekannt3.eu </a>
        </p>
        <p>For more infos about data usage on my site please visit my Privacy Policy Page (German) <a
            [routerLink]="['/gov/privacy']">here</a></p>
      </div>
    </div>
  </div>
</div>
