.contact-btns {
  .sbtn {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);

    &:before,
    .fab {
      transition: all 0.35s;
      transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

    &:before,
    .fas {
      transition: all 0.35s;
      transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    }

    &:before {
      top: 90%;
      left: -110%;
    }

    .fab .fas {
      transform: scale(0.8);
    }

    &.twitter {
      &:before {
        background-color: #1da1f2;
      }

      .fab {
        color: #1da1f2;
      }
    }

    &.google {
      &:before {
        background-color: #dc4a38;
      }

      .fab {
        color: #dc4a38;
      }
    }

    &.gitlab {
      &:before {
        background-color: #fc6d26;
      }

      .fab {
        color: #fc6d26;
      }
    }

    &.github {
      &:before {
        background-color: #333;
      }

      .fab {
        color: #333;
      }
    }

    &.twitch {
      &:before {
        background-color: #6441a4;
      }

      .fab {
        color: #6441a4;
      }
    }

    &.skype {
      &:before {
        background-color: #00aff0;
      }

      .fab {
        color: #00aff0;
      }
    }

    &.email {
      &:before {
        background-color: #ce181e;
      }

      .fas {
        color: #ce181e;
      }
    }

    &.steam {
      &:before {
        background-color: #000000;
      }

      .fab {
        color: #000000;
      }
    }

    &.discord {
      &:before {
        background-color: #7289da;
      }

      .fab {
        color: #7289da;
      }
    }

    &:focus:before,
    &:hover:before {
      top: -10%;
      left: -10%;
    }

    &:focus .fab,
    &:hover .fab {
      color: #fff;
      transform: scale(1);
    }

    &:focus .fas,
    &:hover .fas {
      color: #fff;
      transform: scale(1);
    }

    display: inline-block;
    background-color: #e9e9e9;
    width: 90px;
    height: 90px;
    line-height: 90px;
    margin: 10px 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    opacity: 0.99;

    &:before {
      content: '';
      width: 120%;
      height: 120%;
      position: absolute;
      transform: rotate(45deg);
    }

    .fab {
      font-size: 38px;
      vertical-align: middle;
    }

    .fas {
      font-size: 38px;
      vertical-align: middle;
    }
  }

  //height: 90px;
  //margin: auto;
  //font-size: 0;
  text-align: center;
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
}

// Discord dark Modal
.modal-open .modal,
.btn:focus {
  outline: none !important;
}

.modal.dark .modal-body {
  background: #23272a;
  color: #fff;
}

.modal.dark .modal-header {
  background: #2c2f33;
  border-bottom: 1px solid #2c2f33;
}
.modal.dark .modal-header h1,
.modal.dark .modal-header h2,
.modal.dark .modal-header h3,
.modal.dark .modal-header h4 {
  color: #fff;
}

.modal.dark .modal-footer {
  background: #2c2f33;
  border-top: 1px solid #2c2f33;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
// ./Discord dark Modal
