<section>

  <!--Section heading-->
  <h2 class="text-center h1 py-5">
    <strong>My personal and school Projects</strong>
  </h2>

  <!--Section description-->
  <p class="grey-text pb-5 text-center">I'm too lazy to add all my things to this site so here are only a few things
    i've created in school
  </p>

  <!--Grid row-->
  <div class="row text-center">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
        <img src="assets/img/pointless_app.png" class="img-fluid" alt="PointLess Forum Image">
        <a href="https://school.unbekannt3.eu/pointless/app/" target="_blank">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <mdb-card-body class="mt-3">
        <h4>
          <strong>PointLess Forum</strong>
        </h4>
        <p class="grey-text">Half baked forum made with Angular 4 and NodeJS as Backend (REST API).
        </p>
        <a mdbBtn color="red" size="sm" class="waves-light" href="https://school.unbekannt3.eu/pointless/app/"
          target="_blank" mdbWavesEffect>
          <i class="fa fa-clone left"></i> View project</a>
        <a mdbBtn color="elegant" size="sm" class="waves-light" target="_blank"
          mdbTooltip="Sorry, closed source for security reasons" placement="bottom" mdbWavesEffect>
          <del><i class="fa fa-code left"></i> View SRC</del></a>
      </mdb-card-body>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
        <img src="assets/img/todo_app.png" class="img-fluid" alt="TodoApp Image">
        <a href="https://school.unbekannt3.eu/TodoApp/" target="_blank">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <mdb-card-body class="mt-3">
        <h4>
          <strong>TodoList</strong>
        </h4>
        <p class="grey-text">Small WebApp for todos with predefined categories and due date. Made with Angular 2+
        </p>
        <a mdbBtn color="red" size="sm" class="waves-light" href="https://school.unbekannt3.eu/TodoApp/" target="_blank"
          mdbWavesEffect>
          <i class="fa fa-clone left"></i> View project</a>
        <a mdbBtn color="elegant" size="sm" class="waves-light" href="https://gitlab.com/unbekannt3/TodoApp"
          target="_blank" mdbWavesEffect>
          <i class="fa fa-code left"></i> View SRC</a>
      </mdb-card-body>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
        <img src="assets/img/twitch_app.png" class="img-fluid" alt="TwitchApp Image">
        <a href="https://school.unbekannt3.eu/TwitchApp/" target="_blank">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <mdb-card-body class="mt-3">
        <h4>
          <strong>TwitchApp</strong>
        </h4>
        <p class="grey-text">App to display current top 10 games and livestreamers on Twitch. Made with Angular
          4+
        </p>
        <a mdbBtn color="red" size="sm" class="waves-light" href="https://school.unbekannt3.eu/TwitchApp/"
          target="_blank" mdbWavesEffect>
          <i class="fa fa-clone left"></i> View project</a>
        <a mdbBtn color="elegant" size="sm" class="waves-light" target="_blank"
          mdbTooltip="Sorry, closed source for security reasons" placement="bottom" mdbWavesEffect>
          <del><i class="fa fa-code left"></i> View SRC</del></a>
      </mdb-card-body>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
        <img src="assets/img/knightnslash_game.png" class="img-fluid" alt="Sample project image">
        <a href="https://cdn.unbekannt3.eu/dl/KnightNSlash.jar">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <mdb-card-body class="mt-3">
        <h4>
          <strong>Knight'n Slash</strong>
        </h4>
        <p class="grey-text">Java Game with no features and worlds loading from eyecancer TXT files
        </p>
        <a mdbBtn color="red" size="sm" class="waves-light" href="https://cdn.unbekannt3.eu/dl/KnightNSlash.jar"
          mdbWavesEffect>
          <i class="fa fa-download left"></i> Download JAR</a>
        <a mdbBtn color="elegant" size="sm" class="waves-light" href="https://gitlab.com/unbekannt3/KnightnSlash"
          target="_blank" mdbWavesEffect>
          <i class="fa fa-code left"></i> View SRC</a>
      </mdb-card-body>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <br />
  <br />

</section>
