<div class="spinner">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
<p style="text-align: center;">Loading...</p>
<noscript>
  <p style="text-align: center;">INFO:<br>This sites is an Angular Application and heavily uses JavaScript.<br>Please
    allow JavaScript for my site or use a newer Browser like Chrome/Chromium or Firefox.</p>
</noscript>