/* Global Styles */

// Always show y-scrollbar for no content movement on page change
html {
    overflow-y: scroll;
}
  
// FIX fuer Content unter Navbar
body {
    padding-top: 75px;
    min-height: 100vh;
}

.flex-grow {
    flex: 1;
}
  