<!--Section heading-->
<h2 class="text-center h1 py-5">
  <strong>404 - Shortened URL not found</strong>
</h2>

<!--Section description-->
<h3 class="grey-text pb-1 text-center">The requested URL shortlink couldn't be found :(</h3>